
  
  .map {
    position: absolute;
    width: 100%;
    height: calc(100% - 70px);
  }

  .maplibregl-popup-content{
    background-color: rgb(9, 209, 209);
    max-width: 250px;
    text-align: center;
    border-width: 1px;
    border-color: black;
  }